   /* max-width: 15%; */
    #nav, .navig {
       
        font-size: 12px;
        float: left;
        padding: 1%;
    }
    .left-side {
        width: 20%;
       
    }
    
    .navig span {
        margin: 8px;
        padding: 2px;
        display: block;
    }
 
    .navig span.emptyHeader {
		font-weight:600;
        background-color: #cccccc;
    }

    .navig span.emptyHeader:hover {
		cursor: hand;
    }
	
    .navig span.h3sub {
		font-weight:600;
        background-color: rgb(234, 234, 234);
		padding:3px 15px;
    }

    .navig span.h3sub:hover {
		cursor: hand;
    }	
	
    .navig span.header:hover {
        cursor: hand;
        background-color: #cccccc;
    }
    
    #displayCont {
        width: 80%;
        /* font-size: 12px; */
        float: left;
        padding: 1%;
        display: inline-table;
        margin-top: 40px;

    }
	#displayCont h1:first-child,#displayCont h2:first-child,#displayCont h3:first-child {
		color:red;
		background-color:blue;
		position: fixed;
		top: 0;
	}
    #displayContCompare {
        width:0%;
        /* font-size: 12px; */
        float: left;
        padding: 1%;
        /*background-color: red;*/
        display: inline-table;
        opacity: 0;
        margin-top: 40px;

        border-left: 1px solid red;
    }    
    
    #clearFloat {
        clear: both;
        padding-top: 300px;
        display: block;
    }
    
    #mainDocContent {
        display: none;
    }
    
    .desno-gore {
        position: fixed;
        right: 5px;
        top: 3px;
        min-width: 260px;
    }
    
    #rezultat-pretrage {
        background-color: white;
        position: fixed;
        right: 5px;
        top: 50px;
        max-width: 250px;
    }
    
    .control {
        float: right;
    }
    
    .sadrzaj-pretrage {
        clear: both;
        height: 85vh;
        overflow-y: scroll;
    }
    
    .stavka-pretrage {
        margin: 5px 0;
        border: 1px solid blue;
        border-radius: 3px;
    }
    
    .highlighted, .filtered {
        background: red;
        /* #fff3b8; */
    }
    #uporedi{
        float: left;
        margin-right: 20px;
    }